<% provide(:title,"关于")%>
<div class = "center jumbotron">
    <h1>关于我，你知道的并不多</h1>
    <h2>可是我还是要说一说</h2>
    <h3>我的<a href = "https://blog.csdn.net/weixin_43620617">CSDN</a></h3>
    <h3>我的<a href = "https://github.com/manllman/">GitHub</a></h3>
</div>

