<% provide(:title,"关于")%>
<div class = "center jumbotron">
    <h1>关于本站</h1>
    <h3>高级软件工程大作业</h3>
    <h3>数据集分享网站--BringDatasets</h3>
    <h2>开发人员</h2>
    <h3>薛四青&nbsp;张佳宁&nbsp;周行&nbsp;刘自恒&nbsp;崔进阳</h3>
    <h2>指导老师</h2>
    <h3>魏峻</h3>
    <h3>项目地址<a href = "https://github.com/manllman/">GitHub</a></h3>
</div>

